<!-- Services Modals -->
{% if site.locale and site.locale != "" and site.locale != nil %}
{% for service in site.data.sitetext[site.locale].services.list %}
<div
  class="portfolio-modal modal fade"
  id="s{{ forloop.index }}"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">{{ service.title }}</h2>
              <p>{{ service.longdesc }}</p>
              <p>
                <a
                  class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
                  data-dismiss="modal"
                  href="{{ site.data.sitetext[site.locale].services.buttonlink }}"
                >
                  <i class="fas fa-envelope"></i>
                  <span>{{ site.data.sitetext[site.locale].services.button }}</span>
                </a>
              </p>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                {{ site.data.sitetext[site.locale].services.closebutton |
                default: "Close" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% else %}
{% for service in site.data.sitetext.services.list %}
<div
  class="portfolio-modal modal fade"
  id="p{{ forloop.index }}"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">{{ service.title }}</h2>
              <p>{{ service.longdesc }}</p>
              <p>
                <a
                  class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
                  data-dismiss="modal"
                  href="{{ site.data.sitetext.services.buttonlink }}"
                >
                  <i class="fas fa-envelope"></i>
                  <span>{{ site.data.sitetext.services.button }}</span>
                </a>
              </p>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                {{ site.data.sitetext.services.closebutton |
                default: "Close" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
<!-- End Services Modals -->
